<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--
		<add key="Modules" value="
DevExpress.ExpressApp.v19.2;
DevExpress.ExpressApp.Objects.v19.2;
DevExpress.ExpressApp.Win.v19.2;
DevExpress.ExpressApp.Scheduler.Win.v19.2;
DevExpress.ExpressApp.Validation.v19.2;
DevExpress.ExpressApp.Validation.Win.v19.2;
DevExpress.ExpressApp.FileAttachment.Win.v19.2;
DevExpress.ExpressApp.Scheduler.Win.v19.2;
DevExpress.ExpressApp.AuditTrail.v19.2;
DevExpress.ExpressApp.Security.v19.2;
MainDemo.Module;
MainDemo.Module.Win" />
		-->
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <add key="Languages" value="de;es;ja;ru" />
    <add key="EasyTestCommunicationPort" value="15923" />
    <add key="FeedbackDemoName" value="MainDemo.Win.CS" />
    <add key="FeedbackDescription" value="This demo allows you to store contacts, tasks, events, reports and other related data. It includes reusable XAF modules such Reports, Office, Scheduler, View Variants, PivotChart, AuditTrail, FileAttachments. User authentication and authorization, role and permission administration are powered by XAF’s Security module. The demo also illustrates numerous real-life usage scenarios: business logic in data models, custom Views with Controllers and Actions, data filters with code attributes or Model Editor, underlying UI control customizations, localization, etc. eXpressPersistent Objects ORM is used for data access." />
  </appSettings>
  <connectionStrings>
    <add name="SqlExpressConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=MainDemo_v19.2" />
    <!--
		Use the following connection string to connect to a database on the Microsoft SQLExpress Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=MainDemo_v19.2"/>
		-->
    <!--
		Use the following ConnectionString to connect to a database on the Microsoft SQL Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=MainDemo_v19.2" />
		-->
    <!--
		Use the following ConnectionString to connect to a Jet (Microsoft Access) database:
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=MainDemo.mdb;Mode=Share Deny None;" />
		-->
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use one of the following predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <!--
			<add name="XPO" value="3" />
			-->
    </switches>
  </system.diagnostics>
</configuration>
